-server
-Xmx4G
-XX:InitialRAMPercentage=80
-XX:MaxRAMPercentage=80
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=512M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000
-XX:+UnlockDiagnosticVMOptions
-XX:+UseAESCTRIntrinsics
# Disable Preventive GC for performance reasons (JDK-8293861)
-XX:-G1UsePreventiveGC

#JDK8U191
-XX:MaxRAMPercentage=70.0
-XX:InitialRAMPercentage=70.0
-XX:MinRAMPercentage=70.0
#HotSpot [VM] Server Compiler（C2）
-XX:-OmitStackTraceInFastThrow
#jvm 逆优化
-XX:ReservedCodeCacheSize=512M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
#一个正整数值来限制NIO缓冲区的最大缓存大小
-Djdk.nio.maxCachedBufferSize=2000000

-Dcom.sun.jndi.ldap.object.disableEndpointIdentification=true
-Duser.timezone=Asia/Shanghai
-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:6666

